<div class="carousel-cell">
    <img src="{{img_url feature_image}}" alt=""  />
    <p class="post-num">{{date published_at format="MMMM DD, YYYY"}}</p>
    <h3 class="entry-title">
        <a href="{{url}}">{{title}}</a>
    </h3>
    <p class="cat-links">{{excerpt words="33"}}</p>
</div>